.add-button{
    position: fixed;/*El boton queda encima del contenido, flotante*/

    bottom: 30px;/*Separacion del boton con el borde inferior*/

    right: 35px;/*Separacion desde la derecha*/

    background-color: rgb(130, 189, 96); /* Color del boton*/

    border: none; /*para que el boton no tenga borde */

    border-radius: 50%;/* para hacer que el boton quede cuadrado*/

    width: 70px;
    height: 70px;/*Para que el boton qude simetrico*/

    display: flex; /*Activamos flexbox para centrar*/

    justify-content: center; /*Alineacion Horizontal*/

    align-items: center; /*Alineacion Horizontal*/

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, 0.5);/*Sombra del Boton*/

    z-index: 1001; /*Parea que el botn siempre quede encima de todo*/

    transition: transform 2.7; /*Tiempo del efecto*/

}

.add-button:hover{
    transform: scale(1.1); /*El boton crece 1.1 veces su tamaño*/
}